{% extends 'base.html.twig' %}

{% block title %}Show One serie
{% endblock %}


{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster"/>
		<div class="media-body">
			<h1 class="mt-0 text-primary">{{ program.title}}</h1>
			<p>{{ program.synopsis }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
			<h2>{{ season.description }}
				-
				{{ season.year }}</h2>
			<p>Liste des épisodes :</p>
			<p>
				{% for episod in episodes %}
					<li>Episode
						{{ episod.number}}
						-
						{{ episod.title }}</li>
				{% endfor %}
			</p>

		</div>
		<a href="{{ path("program_show", { id: program.id }) }}">Retour à la carte de la série</a>
	</div>

{% endblock %}
